*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper{
  width: 996px;
  height: 155px;
  background: #A03F3F;
  border-radius: 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.item{
  width: 280px;
  height: 96px;
  background: #E7DB77;
  border: 2px solid #000000;

}

.wrapper_2{
  width: 324px;
  height: 630px;
  background: #A03F3F;
  border-radius: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapper_3{
  display: flex;
  background: #A03F3F;
  border-radius: 38px;
  flex-direction: column;
  row-gap: 135px;
  width: 324px;
  padding-top: 36px;
  padding-bottom: 36px;
  align-items: center;


}.wrapper_4{
  display: flex;
  width: 324px;
  height: 630px;
  background: #A03F3F;
  border-radius: 38px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.wrapper_5{
  display: flex;
  width: 996px;
  height: 155px;
  background: #A03F3F;
  border-radius: 23px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  width: 996px;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 10px;
}

