*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  display: flex;
}

.image {
  width: 560px;
  height: 420px;
}

.title {
  font-size: 16px;
  color: #3098f3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title_2 {
  font-size: 32px;
  color: #05051e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nevim{
  background: #3098F3;
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.title_3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #05051E;
}

.conteiner{
  display: flex; 
}

.conteiner_2{
  justify-content: center;
}

.nevim_2{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.image_2{
  width: 560px;
  height: 420px;
}

.nevim_3{
  width: 250px;
  height: 57px;
  background: #3098F3;
  border-radius: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}
